*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(https://wallpaperaccess.com/full/3430.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
 

.propa{
    background-image: url(https://m.media-amazon.com/images/M/MV5BYjY4MDU2YjMtNzY1MC00ODg1LWIwMzYtMWE5YTA3YTI4ZjMxXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg);
    height: 600px;
    width: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: top right;
    object-fit: cover;
}

h1{
    text-align: center;
    color: white;
}